body {
    margin: 10px;
    padding: 10px;
    background-color: #f5f3ef;
}

.container {
    display: flex;
    justify-content: space-between; /*eu nao sei como, mas isso funciona pra deixar os links na direita e a imagem na esquerda*/
    align-items: center; /* Centraliza os links no meio em relação a imagem */
}

nav ul ol {
    display: inline-block; /* Exibe os itens em linha */
}

nav ul ol a {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-decoration: none; /* Remove o sublinhado */
}

nav ul ol a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

footer {
    background-color: black;
    height: 300px;
    width: 1490px;
    color: #f5f3ef;
    display: flex; /* Ativa o Flexbox */
    justify-content: space-between; /* Espaça os itens */
    padding: 10px; /* Adiciona um pouco de espaçamento interno */
}
